services:
  budibase:
    image: budibase/budibase:2.23.9
    container_name: budibase
    restart: unless-stopped

    ports:
      - "8080:4001"

    environment:
      NODE_ENV: production
      BUDIBASE_ENV: production

      # Obligatoire pour éviter écran noir
      PUBLIC_URL: http://localhost:8080

      # Secrets
      JWT_SECRET: change-me-jwt
      SESSION_SECRET: change-me-session

      # Bootstrap admin
      ADMIN_EMAIL: admin@local.test
      ADMIN_PASSWORD: Admin123!

      LOG_LEVEL: info

    volumes:
      - budibase_data:/data

volumes:
  budibase_data:
